@media (min-width:800px) {
    html{
        font-size: 21px;
    }
    .editor-layout {
        grid-template-columns: 1fr 1fr;
    }

    .canvas-container{
        width: 45vw;
        height: 45vw;
    }

    .filters-container-layout{
        grid-template-columns: 1fr auto;

    }
}